{% extends '@FOSMessage/layout.html.twig' %}

{% block fos_message_content %}

<h2>{% trans from 'FOSMessageBundle' %}search{% endtrans %}</h2>

<p>{{ 'threads_found'|trans({'%count%': threads|length}, 'FOSMessageBundle') }}</p>

{% include '@FOSMessage/Message/threads_list.html.twig' with {'threads': threads} %}

{% endblock %}
